<!DOCTYPE html>
<html>
	<head>
		<title>Lotto</title>
		<link rel="stylesheet" href="static\main.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<h1 class="header">Lotto Numbers</h1>
        <div class="container">
            <div class="box">
                <p class="number">1</p>
            </div>
            <div class="box">
                <p class="number">2</p>
            </div>
            <div class="box">
                <p class="number">3</p>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <p class="number">4</p>
            </div>
            <div class="box">
                <p class="number">5</p>
            </div>
            <div class="box">
                <p class="number">6</p>
            </div>
        </div>

        <button class="button-19" role="button">Button 19</button>
	</body>
</html>
