<!DOCTYPE html>
<html>
	<head>
		<title>Lotto</title>
		<link rel="stylesheet" href="static\main.css" />
        <script src="static\main.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<h1 class="header">Lotto Numbers</h1>
        <div class="container">
            <div class="box">
                <p id="number1" class="number">0</p>
            </div>
            <div class="box">
                <p id="number2" class="number">0</p>
            </div>
            <div class="box">
                <p id="number3" class="number">0</p>
            </div>
        </div>
        <div class="container">
            <div class="box">
                <p id="number4" class="number">0</p>
            </div>
            <div class="box">
                <p id="number5" class="number">0</p>
            </div>
            <div class="box">
                <p id="number6" class="number">0</p>
            </div>
        </div>

        <button id="button-19" class="button-19" role="button">Button 19</button>
	</body>
</html>
